{% extends 'dashboard/wrapper.html' %}
{% load humanize %}

{% block wrapper %}
    <div class="main-panel">
        <div class="content-wrapper">

      {% include 'messages.html' %}
            <div class="card mb-5">
                <div class="card-body">
                <h4 class="card-title">Pul berish</h4>
                <form class="form-sample" method="post"> {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ishchi</label>
                            <div class="col-sm-9">
                                <select name="worker" required class="form-control" id="worker_choice">
                                    <option label="Ishchini tanlang"></option>
                                    {% for worker in request.user.admin.workers.all %}

                                    <option value="{{worker.id}}">{{worker.user.first_name}} {{worker.user.last_name}}</option>
                                        
                                    {% endfor %}
                                        
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Summa</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="price" name="price" required/>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Tasdiqlash</button>
                    <button type="reset" class="btn btn-light">Bekor qilish</button>
                </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Berilgan pullar</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    I.F
                                </th>
                                <th>
                                    Summa
                                </th>
                                <th>
                                    Sana
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for worker in workers %}
                            
                            {% if worker.balance_history.all.count == 0 %}
                                {% else %}
                                <tr>
                                    <td>
                                        {{worker.user.first_name}} {{worker.user.last_name}}
                                    </td>
                                    <td>
    
                                        {% if worker.got_balance == 0 %}
                                        Pul olmagan
                                        {% else %}
                                        {{worker.got_balance|intcomma}} so'm
                                        {% endif %}
    
                                    </td>
                                    <td>
    
                                        {{worker.balance_history.last.date.date}}
    
                                    </td>
                                    <td style="float: right;">
                                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#worklist{{worker.id}}">Batafsil</button>
                                        <!-- Modal edit -->
                                        <div class="modal fade" id="worklist{{worker.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width: 750px;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">{{worker.user.first_name}} {{worker.user.last_name}}
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Sana
                                                                    </th>
                                                                    <th style="float: right;">
                                                                        Summasi
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
    
                                                                {% for history in worker.balance_history.all %}
    
                                                                <tr>
                                                                    <td>
                                                                        {{history.date.date}}
                                                                    </td>
                                                                    <td style="float: right;">
                                                                        {{history.got_sum|intcomma}}
                                                                        so'm
                                                                    </td>
                                                                </tr>
    
                                                                {% endfor %}
    
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/usta/delete/?type=gave_money&worker={{worker.id}}" class="btn btn-danger">O'chirish</a>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Yopish</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </td>
                                </tr>
                            {% endif %}
                                

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script>
        $('#worker_choice').on('change', function(){
            $.ajax({
                url:'/usta/give_money/',
                type:'get',
                data:{
                    'worker_id':$(this).val()
                },
                success: function(response){
                    $('#price').val(response['balance'])
                }
            })
        })
    </script>

{% endblock wrapper %}